/* NAVIGATION MENU
================================*/
.navigation-menu {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0rem;
	display: inline-block;
	float: left;

	@media (min-width: $landscape-width) {
		width: auto;
		@include flex();
		@include flexAlignCenterVertically();

		.navigation & {
			@include flexSelfStretch();
			@include flexStretch();
		}

		.navigation-logo-top & {
			@include flexAlignCenter();
		}
	}
	/**
	* ! Added for mobile version icons
	*/
	@media (max-width: $landscape-width) {
		&.__mobile {
			@include flexSelfStretch();
			@include flexStretch();
			@include flexAlignRight;
			& .navigation-item.navigation-icon-item {
				@include flex();
				flex: 0 0 30px;
				& a {
					border: 0 !important;
				}
			}
		}
		&.__mobile-canvas {
			background-color: #fafafa;
			& li > a {
				border-bottom: 1px solid rgb(233, 236, 239);
				& > span {
					font-weight: 700px !important;
				}
			}
		}
	}

	/**
	* ! End mobile version icons
	*/

	//! added for landscape ----------------
	@media (min-width: $landscape-width) {
		&.__mobile-canvas {
			order: 3;
			& li > a {
				& > span {
					@include adaptiv-value-to("font-size", 14, 9, 767);
					font-weight: 700px !important;
					text-transform: uppercase;
				}
			}
			& li > a:hover span,
			& li > a:hover i {
				color: $main-color;
			}
		}

		//all main menu
		&._main-menu {
			@include flex;
			@include flexAlignCenter;
			max-height: 53px;
			width: 100%;
			background-color: $main-color;
			border-radius: 3px;
			color: white;
			// li.navigation-item
			& .navigation-item {
				&:hover {
					background-color: #5073e1;
				}
				&.is-active {
					background-color: #234ac7 !important;
				}
				// a.navigation-link
				& .navigation-link {
					@include adaptiv-value-to("font-size", 14, 9, 767);
					color: white;
					font-weight: 600;
					text-transform: uppercase;
					&.visited {
						color: initial;
					}
					& .submenu-indicator {
						margin-left: 6px;
						&::after {
							color: white;
						}
						&:hover {
							color: initial;
						}
					}
					& [class^="icon-"],
					& [class*=" icon-"] {
						font-size: 10px;
						padding-right: 5px;
						vertical-align: bottom;
					}
				}
			}
		}
	}
}

/* Navbar item */
.navigation-item {
	width: 100%;
	margin: 0;
	float: left;
	display: inline-block;

	@media (min-width: $landscape-width) {
		width: auto;
	}
	/*
	@media (max-width: $landscape-width) {
		@include flexSelfCenterVertically;
	}
	*/
}

/* Navbar link */
.navigation-link {
	width: 100%;
	padding: $navigation-link-padding;
	@include flex();
	@include flexAlignCenterVertically();
	@include adaptiv-value-to("font-size", 14, 10, 767);
	position: relative;

	letter-spacing: $navigation-link-letter-spacing;
	color: $navigation-link-font-color;
	border-bottom: solid 1px $navigation-link-border-color;
	@include transition(color 0.3s);
	@media (max-width: $landscape-width) {
		&:visited {
			color: $navigation-link-font-color;
		}
	}

	&.is-active {
	}
	/**
	* ! Added-------------------------
	*/
	& i[class^="icon-"].hide-on-portrait ~ span {
		padding-left: 0 !important;
	}
	& i[class*=" icon-"].hide-on-portrait ~ span {
		padding-left: 0 !important;
	}

	/**
	* ! end Added---------------------------
	*/
	.navigation-item:last-child & {
		@media (min-width: $landscape-width) {
			border-top: none;
			border-bottom: none;
		}
	}

	.navigation-item:not(.navigation-brand-text):hover &,
	.navigation-item:not(.navigation-brand-text):focus &,
	.navigation-item:not(.navigation-brand-text).is-active & {
		text-decoration: none !important;
		color: $navigation-link-font-color-hover;
		background-color: $navigation-link-background-color-hover;
	}

	@media (min-width: $landscape-width) {
		height: 100%;
		padding: $navigation-link-padding-landscape;
		line-height: $navigation-height;
		border: none;
	}

	.navigation-menu.navigation-social-menu
		+ .navigation-menu:not(.navigation-social-menu)
		.navigation-item:first-child
		& {
		border-top: solid 1px $navigation-link-border-color;

		@media (min-width: $landscape-width) {
			border-top: none;
		}
	}

	// Link with icons and text
	i {
		width: $navigation-link-text-icon-width;
		float: left;
		text-align: center;
		font-size: $navigation-link-text-icon-font-size;
		line-height: 0;

		// Font Awesome 5 icons
		&[class*="fa"] {
			font-size: $navigation-link-text-icon-font-awesome-size;
		}

		@media (min-width: $landscape-width) {
			width: auto;
		}

		+ span {
			padding-left: 8px;
		}
	}

	// Icon item
	.navigation-icon-item & {
		padding: $navigation-link-icon-item-padding;

		@media (min-width: $landscape-width) {
			width: 100%;
			margin: 0;
			padding: $navigation-link-icon-item-padding-landscape;
			border-left: solid 1px $navigation-link-border-color;
		}

		span:not(.submenu-indicator) {
			@media (min-width: $landscape-width) {
				display: none;
			}
		}

		.navigation-badge {
			@media (min-width: $landscape-width) {
				right: 10px;
			}
		}

		i {
			@media (min-width: $landscape-width) {
				width: $navigation-link-icon-item-icon-width;
				height: $navigation-link-icon-item-icon-height;
				margin: 0;
				line-height: 26px;
				text-align: center;
				float: left;
				font-size: $navigation-link-icon-item-font-size;

				// Font Awesome 5 icons
				&[class*="fa"] {
					width: auto;
					font-size: $navigation-link-icon-item-font-awesome-size;
				}
			}
		}
	}

	// Avatar item
	.navigation-avatar-item & {
		font-size: $navigation-link-avatar-font-size;
		font-weight: $navigation-link-avatar-font-weight;

		img {
			width: $navigation-link-avatar-image-width;
			border: solid 2px $navigation-link-avatar-border-color;
			border-radius: $navigation-link-avatar-border-radius;
		}

		span {
			margin-left: 8px;
		}
	}

	.navigation-body-section + .navigation-menu:not(.navigation-social-menu) > .navigation-item:first-child > & {
		border-top: solid 1px $navigation-link-border-color;

		@media (min-width: $landscape-width) {
			border-top: none;
		}
	}
}
